<h1>Here are the tasks for this Hackathon</h1>
<p>You can click on a task to view the description and claim it</p>
<table class="table">
  <tr>
    <th>Task</th>
    <th>Points</th>
    <th>Category</th>
    <th>Time limit</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.name, task_path(task) %></td>
    <td><%= task.points %></td>
    <td><%= task.category.name %></td>
    <td><%= task.time_limit %> mins</td>
  </tr>
<% end %>
</table>

<br />
